# python
__pycache__/
*.py[cod]
.ipynb_checkpoints

# ide
.vscode/

# build
log
install
build
IsaacLab
*.gv
*.pdf
test.py
checkpoint.py

# robot and scene
*.urdf
!ros2isaacsim/ros2isaacsim/assets/robots/physx_diff_contact/
!ros2isaacsim/ros2isaacsim/assets/robots/physx_diff_contact/*.urdf
*.usd
*.usda
*.stl
*.STL
